body {
    background: url("images/bg-bamboo.jpg") repeat scroll 0 0 #DEC188;
    color: #333;
    font: 62.5% 'Geneva','Arial',Sans-Serif;
    margin: 0 auto;
    text-align: center;
    width: 1030px;
}
header {
    background: url("images/cousinwil-header.png") no-repeat scroll center center transparent;
    height: 380px;
    width: 940px;
    margin: 0 auto;
}
nav {
    height: 1px;
    position: relative;
    width: 1010px;
    z-index: 20;
}
nav ul {
    right: 35px;
    top: 55px;
    margin: 0;
    min-height: 500px;
    position: absolute;
    width: 155px;
}
nav ul li {
    float: right;
    height: 160px;
    margin-bottom: 25px;
    position: relative;
    width: 180px;
}
nav ul li img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}
nav ul li:hover img {
    z-index: 102;
}
nav ul li iframe.main {
    bottom: 36px;
    left: 62px;
    position: absolute;
    z-index: 101;
}
nav ul li:hover iframe, nav ul li:hover iframe.main {
    z-index: 107;
}
nav ul li#facebook {
    height: 190px;
    margin-bottom: 10px;
}
li#facebook {
  background-image: url(images/stickers/facebook.png);
  background-repeat: no-repeat;
}
li#download {
  background-image: url(images/stickers/cousinwil.png);
  background-repeat: no-repeat;
}
nav ul li#download img {
    bottom: 40px;
}
nav ul li div {
    background-image: url("images/stickers/chat-bubble.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #0A0A0A;
    display: none;
    height: 112px;
    left: 20px;
    padding: 22px 30px;
    position: absolute;
    top: -74px;
    width: 160px;
    z-index: 101;
}
nav ul li:hover div {
    display: block;
}
nav ul li#facebook div {
    top: -36px;
}
nav ul li#facebook:hover div {
    display: block;
}
nav p {
    font-size: 1.3em;
}
nav a {
    color: #0A0A0A;
    font-weight: bold;
    text-decoration: underline;
}
section {
  background-color: #0A0A0A;
  border: 14px solid #FFFFFF;
  margin-bottom: 60px;
  min-height: 500px;
  padding: 26px 24px;
  text-align: left;
  width: 952px;
}
article {
    background-color: #E0D0B0;
    border-radius: 14px 14px 14px 14px;
    margin-bottom: 35px;
    padding: 20px;
    width: 912px;
}
article h1 {
    color: #000000;
    font-family: 'Lucida Grande',Arial;
    font-size: 2.3em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 10px;
    text-shadow: 0px 0 1px #ccc;
}
article#main h1 {
    font-size: 2.8em;
}
article h2 {
    color: #333/*#FFF9CB*/;
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 15px;
}
article#main h2 {
    font-size: 2.3em;
}
article p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: 20px;
}
article a {
    color: #F41526;
    font-weight: bold;
    text-decoration: underline;

}
article a:hover {
    color: #FFF9CB;
}

article div {
    display: block;
    height: 367px;
    width: 734px;
    border: 10px solid #fff;
    box-shadow: 0 0 5px -3px #000000;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#zivity-1-marquee {
    background-image: url(images/portfolio/zivity-1-marquee.jpg);
}

#topfans-marquee {
    background-image: url(images/portfolio/topfans-marquee.jpg);  
}

#zivity-marquee {
    background-image: url(images/portfolio/zivity-marquee.jpg);
}

#powderenvy-marquee {
    background-image: url(images/portfolio/powderenvy-marquee.png);
}

#steeze-marquee {
    background-image: url(images/portfolio/steeze-marquee.jpg);
}

#wikia-marquee {
    background-image: url(images/portfolio/wikia-marquee.jpg);
}

#zangzing-marquee {
    background-image: url(images/portfolio/zangzing-marquee.jpg);
}

#yammer-marquee {
    background-image: url(images/portfolio/yammer-marquee.png);
}

#wil-snow-marquee {
    background-image: url(images/portfolio/wil-snow-marquee.jpg);
}

#nodeconf-marquee {
    background-image: url(images/portfolio/nodeconf-marquee.jpg);
}

article small a {
    color: #DEC188;
    font-weight: bold;
    text-decoration: underline;
}
article ul.list {
    margin: 20px 45px;
}
article ul.list li {
    font-family: 'Lucida Grande',Arial;
    font-size: 2em;
    list-style: decimal outside none;
    margin-bottom: 10px;
}
article ul#acknowledgements li div.more-info {
    color: #CECECE;
    font-style: italic;
    height: 0;
    overflow: hidden;
    padding-left: 30px;
    width: 600px;
}
article ul#acknowledgements li div.more-info p {
    font-size: 0.7em;
}
article p.last {
    margin-bottom: 0;
}
.main-color {
    color: #FFFFFF;
}
.highlight-color {
    color: #FF0000;
}
a.main-color {
    font-weight: bold;
    text-decoration: underline;
}
a.main-color:hover {
    color: #FF0000;
}
a.highlight-color {
    font-weight: bold;
    text-decoration: underline;
}
a.highlight-color:hover {
    color: #FFFFFF;
}
.main-bg {
    background-color: #DEC188;
}
.main-bg-color {
    color: #DEC188;
}
.highlight-bg {
    background-color: #242424;
}
