/* app.less - The non-eeze based css generator for the application's CSS! 
  --------------------------------------------------------------------------- */
/* css3.less - CSS3 mix-ins for faster coding. Just pass the declaration once 
         and it executes the browser specific prefixes also...

         .test {
           .round(8px);
         }

         ...gives you:

         .test {
           -moz-border-radius: 8px;
           -webkit-border-radius: 8px;
           border-radius: 8px;
         }
  --------------------------------------------------------------------------- */
/* variables.less - makes writing and updating CSS much fasterby allowing you
       to set global colors, fonts, etc.
  --------------------------------------------------------------------------- */
/* typography.less - typography, reusable color classes
  --------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Averia Serif Libre', Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 1.4;
}
a {
  font-weight: bold;
}
a:hover {
  color: #dec188;
}
.white {
  color: #fefefe;
}
.red {
  color: #f41526;
}
.black {
  color: #120e00;
}
.gold {
  color: #dec188;
}
.bg-white {
  background-color: #fefefe;
}
.bg-red {
  background-color: #f41526;
}
.bg-black {
  background-color: #120e00;
}
.bg-gold {
  background-color: #dec188;
}
/* buttons.less - set your button styles
   ------------------------------------------------------------------------- */
/* application.less - Base Global CSS
  --------------------------------------------------------------------------- */
body {
  background-image: url(../images/bg-bamboo.jpg);
  font-family: 'Geneva', 'Arial', Sans-Serif;
  font-size: 14px;
  color: #120e00;
}
nav h1 {
  margin: 2px 0 0 80px;
  font-size: 40px;
  color: #fefefe;
}
nav {
  position: fixed;
  background-color: #120e00;
  border-bottom: 8px solid #fefefe;
  -moz-box-shadow: 0 0 2px 1px #888888;
  -webkit-box-shadow: 0 0 2px 1px #888888;
  box-shadow: 0 0 2px 1px #888888;
  z-index: 900;
  height: 48px;
  width: 100%;
  margin-bottom: 40px;
}
.cousinwil-logo {
  background-image: url(../images/cousinwil-80.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 901;
  top: -2px;
  display: block;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.nav {
  float: right;
  color: #fefefe;
  padding: 0;
  width: 550px;
}
.nav a {
  color: #dec188;
  font-weight: bold;
  text-decoration: none;
}
.nav a:hover {
  color: #f41526;
}
.first-container {
  padding-top: 60px;
  min-height: 230px;
}
.header {
  font-family: 'Miniver', Georgia, cursive;
  font-size: 34px;
  line-height: 1.6;
  font-weight: bold;
  margin-bottom: 42px;
}
.header em {
  text-transform: none;
  color: #f41526;
}
.inline {
  display: inline-block;
}
.centered {
  margin: 0 auto;
}
.left-list {
  float: left;
  margin-right: 8px;
  line-height: 20px;
}
.facebook {
  margin-left: 18px;
}
.left-list.last {
  margin-right: 0;
}
.elevencol.centered {
  margin: 0 5%;
  width: 90%;
}
.tencol.centered {
  margin: 0 9.5%;
  width: 81%;
}
.elevencol.centered.shell {
  margin: 0 5% 0 4.4%;
}
article {
  padding: 50px 0;
  border-bottom: 3px dashed #fefefe;
}
article.final {
  border-bottom: none;
}
.marquee-image {
  border: 8px solid #fefefe;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vert-border {
  border-top: 8px solid #fefefe;
  border-bottom: 8px solid #fefefe;
  -moz-box-shadow: 0 0 2px 1px #888888;
  -webkit-box-shadow: 0 0 2px 1px #888888;
  box-shadow: 0 0 2px 1px #888888;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
}
.relative {
  position: relative;
}
.quote {
  margin: 18px 5% 0;
  display: block;
  width: 90%;
}
.second-row {
  margin-top: 15px;
}
/* media-queries.less - Media Queries for size-specific layouts 
  --------------------------------------------------------------------------- */
@media only screen and (min-width: 1028px) {
  /* responsive-full.less - Responsive CSS for Laptops and Desktops
    --------------------------------------------------------------------------- */
  nav .fivecol {
    margin-left: -30px;
  }
}
@media only screen and (max-width: 1027px) {
  /* responsive-tablet.less - Responsive CSS for Small Laptops and Tablets
    --------------------------------------------------------------------------- */
  nav h1 {
    margin-top: 14px;
  }
  .nav {
    float: none;
    padding-top: 16px;
    margin-top: -1px;
  }
}
@media only screen and (max-width: 767px) {
  /* responsive-mobile.less - Responsive CSS for Mobile Devices
    --------------------------------------------------------------------------- */
  nav {
    height: 80px;
  }
  .nav {
    margin: 0 0 0 82px;
    padding: 4px 0 0;
  }
  .row {
    width: 95%;
  }
  .marquee-image {
    margin-bottom: 14px;
  }
  .second-row {
    margin: 0;
  }
  .header {
    font-size: 26px;
  }
  .first-container {
    padding-top: 100px;
  }
}
